<launch>
    <arg name="map_size_x_" value="58.0"/>
    <arg name="map_size_y_" value="58.0"/>
    <arg name="map_size_z_" value="9.0"/>
    <arg name="tracker_num" value="4"/>
    <arg name="drone_num" value="$(eval arg('tracker_num')+1 )"/>
    <arg name="track_param" value="param_tracking_four"/>
    <arg name="map_param" value="rogmap_forest"/>
    <arg name="target_init_x_" value="-23.0"/>
    <arg name="target_init_y_" value="0.0"/>
    <arg name="target_init_z_" value="1.8"/>

    <arg name="odom_topic" value="/lidar_slam/odom"/>

    <arg name="map_name" value="$(find map_generator)/resource/forest.pcd"/>

    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find st_planner)/config/rviz_swarm_four.rviz" />
   
    <node pkg="map_generator" name="map_pub" type="map_pub" output="screen"
        args="$(arg map_name)">
    </node>

    <include file="$(find st_planner)/launch/sim_tracking/sim_target_drone.xml">
        <arg name="lidar_type" value="mid360"/>
        <arg name="init_x_" value="$(arg target_init_x_)"/>
        <arg name="init_y_" value="$(arg target_init_y_)"/>
        <arg name="init_z_" value="$(arg target_init_z_)"/>
        <arg name="init_yaw" value="0.0"/>
        <arg name="map_size_x_" value="$(arg map_size_x_)"/>
        <arg name="map_size_y_" value="$(arg map_size_y_)"/>
        <arg name="map_size_z_" value="$(arg map_size_z_)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="drone_id" value="$(arg tracker_num)"/>
        <arg name="uav_num_" value="$(arg drone_num)"/>
        <arg name="map_name" value="$(arg map_name)"/>
    </include>

    <include file="$(find st_planner)/launch/sim_tracking/sim_tracker_drone.xml">
        <arg name="drone_id" value="0"/>
        <arg name="uav_num_" value="$(arg drone_num)"/>
        <arg name="lidar_type" value="avia"/>
        <arg name="init_x_" value="-23.8"/>
        <arg name="init_y_" value="1.7"/>
        <arg name="init_z_" value="1.8"/>
        <arg name="init_yaw" value="0.0"/>
        <arg name="map_size_x_" value="$(arg map_size_x_)"/>
        <arg name="map_size_y_" value="$(arg map_size_y_)"/>
        <arg name="map_size_z_" value="$(arg map_size_z_)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="track_param" value="$(arg track_param)"/>
        <arg name="map_param" value="$(arg map_param)"/>
        <arg name="tracker_num" value="$(arg tracker_num)"/>
        <arg name="target_id"  value="$(arg tracker_num)"/>
        <arg name="target_init_x" value="$(arg target_init_x_)"/>
        <arg name="target_init_y" value="$(arg target_init_y_)"/>
        <arg name="target_init_z" value="$(arg target_init_z_)"/>
        <arg name="map_name" value="$(arg map_name)"/>
        <arg name="use_gpu" value="true"/>
    </include>

    <include file="$(find st_planner)/launch/sim_tracking/sim_tracker_drone.xml">
        <arg name="drone_id" value="1"/>
        <arg name="uav_num_" value="$(arg drone_num)"/>
        <arg name="lidar_type" value="avia"/>
        <arg name="init_x_" value="-21.191"/>
        <arg name="init_y_" value="0.588"/>
        <arg name="init_z_" value="1.8"/>
        <arg name="init_yaw" value="0.0"/>
        <arg name="map_size_x_" value="$(arg map_size_x_)"/>
        <arg name="map_size_y_" value="$(arg map_size_y_)"/>
        <arg name="map_size_z_" value="$(arg map_size_z_)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="track_param" value="$(arg track_param)"/>
        <arg name="map_param" value="$(arg map_param)"/>
        <arg name="tracker_num" value="$(arg tracker_num)"/>
        <arg name="target_id"  value="$(arg tracker_num)"/>
        <arg name="target_init_x" value="$(arg target_init_x_)"/>
        <arg name="target_init_y" value="$(arg target_init_y_)"/>
        <arg name="target_init_z" value="$(arg target_init_z_)"/>
        <arg name="map_name" value="$(arg map_name)"/>
        <arg name="use_gpu" value="true"/>
    </include>

    <include file="$(find st_planner)/launch/sim_tracking/sim_tracker_drone.xml">
        <arg name="drone_id" value="2"/>
        <arg name="uav_num_" value="$(arg drone_num)"/>
        <arg name="lidar_type" value="mid360"/>
        <arg name="init_x_" value="-22.118"/>
        <arg name="init_y_" value="-1.538"/>
        <arg name="init_z_" value="1.8"/>
        <arg name="init_yaw" value="0.0"/>
        <arg name="map_size_x_" value="$(arg map_size_x_)"/>
        <arg name="map_size_y_" value="$(arg map_size_y_)"/>
        <arg name="map_size_z_" value="$(arg map_size_z_)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="track_param" value="$(arg track_param)"/>
        <arg name="map_param" value="$(arg map_param)"/>
        <arg name="tracker_num" value="$(arg tracker_num)"/>
        <arg name="target_id"  value="$(arg tracker_num)"/>
        <arg name="target_init_x" value="$(arg target_init_x_)"/>
        <arg name="target_init_y" value="$(arg target_init_y_)"/>
        <arg name="target_init_z" value="$(arg target_init_z_)"/>
        <arg name="map_name" value="$(arg map_name)"/>
        <arg name="use_gpu" value="true"/>
    </include>

    <include file="$(find st_planner)/launch/sim_tracking/sim_tracker_drone.xml">
        <arg name="drone_id" value="3"/>
        <arg name="uav_num_" value="$(arg drone_num)"/>
        <arg name="lidar_type" value="m_updown"/>
        <arg name="init_x_" value="-24.7"/>
        <arg name="init_y_" value="-0.8"/>
        <arg name="init_z_" value="1.8"/>
        <arg name="init_yaw" value="0.0"/>
        <arg name="map_size_x_" value="$(arg map_size_x_)"/>
        <arg name="map_size_y_" value="$(arg map_size_y_)"/>
        <arg name="map_size_z_" value="$(arg map_size_z_)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="track_param" value="$(arg track_param)"/>
        <arg name="map_param" value="$(arg map_param)"/>
        <arg name="tracker_num" value="$(arg tracker_num)"/>
        <arg name="target_id"  value="$(arg tracker_num)"/>
        <arg name="target_init_x" value="$(arg target_init_x_)"/>
        <arg name="target_init_y" value="$(arg target_init_y_)"/>
        <arg name="target_init_z" value="$(arg target_init_z_)"/>
        <arg name="map_name" value="$(arg map_name)"/>
        <arg name="use_gpu" value="true"/>
    </include> 


</launch>
       



       